# A data analysis of the NYC taxi rides

Objective : 
- use the NYC taxi rides huge database to make sense out of so much data
- come up with a simple presentation of the insights this data brings on the life of the city

We will look at three different axis in this analysis:
- the points of interest in NYC (from and where to trends, over time and for specific dates)
    - Where are people going on weekdays vs weekends?
    - Is it much different when it is a main holiday (Christmas, New Year's Eve, National Day, Valentines Day)?
    - Did it change overtime for the past 10 years? Or the centers of interest remained?
    - What about trip duration? Do people take taxis for short or long trips? 
    - In the context of growing awareness of the importance of using public transportation, do the habits of passengers to take a taxi match the availability of a public transportation alternative? This is to say, do people take a taxi when they have no other simple option using public transportation? Is it related to the number of people that travel? 
- the economic point of view (correlation of location and fare amount, trip type evolution and location repartion, most profitable insights)
    - What is the percentage of time a taxi driver is busy? 
    - In which areas would it be easier for the taxi driver to maximise profit (short ride with high rate)?
    - Relationship between payment type, tip and location of pickup/dropoff?
    - Evolution of the trip type 'app vs street-hail' in the past 10 years and repartition based on the location in the city


What are the most frequent itineraries in NYC? i.e. where are people taking taxis and heading to, what are the strongest links between area of NYC?
What are the main traffic patterns - itineraries, number of passengers, payment types
    - weekdays vs weekends
    - for specific holidays
    - trends over the years?

How do people get into the taxi? Evolution of the trip type 'app vs street-hail' in the past 10 years and repartition based on the location in the city

When should you take the taxi (and where should taxi drivers go to optimise money gain)? (taxi idle times, availability of alternative waiting time for public transportation, average trip duration)

Is this the beginning of the end for the yellow taxis? An overview of the impact of FHV on the traffic and business of the iconic yellow taxis.

Pictures for the blog post

https://www.google.com/imgres?imgurl=https%3A%2F%2Fimages.fineartamerica.com%2Fimages-medium-large-5%2Fnyc-yellow-cabs--ck-hannes-cmarits.jpg&imgrefurl=https%3A%2F%2Fpixels.com%2Ffeatured%2Fnyc-yellow-cabs--ck-hannes-cmarits.html&docid=w362TdiAvFoQ6M&tbnid=kt9sXXxu6rRpWM%3A&vet=12ahUKEwjWzveaqtzjAhXjAWMBHW7NAf44ZBAzKDMwM3oECAEQNQ..i&w=900&h=450&client=safari&bih=877&biw=1324&q=nyc%20yellow%20taxi&ved=2ahUKEwjWzveaqtzjAhXjAWMBHW7NAf44ZBAzKDMwM3oECAEQNQ&iact=mrc&uact=8

https://www.google.com/imgres?imgurl=https%3A%2F%2Fcdn.vox-cdn.com%2Fthumbor%2Fw_4S1JHSyjLoTrgzyyYyFP1PVZo%3D%2F0x0%3A2479x1653%2F1200x800%2Ffilters%3Afocal(1042x629%3A1438x1025)%2Fcdn.vox-cdn.com%2Fuploads%2Fchorus_image%2Fimage%2F60025757%2Fshutterstock_498615637.0.jpg&imgrefurl=https%3A%2F%2Fny.curbed.com%2F2018%2F6%2F11%2F17450366%2Fnyc-taxi-medallions-bankruptcy-auction&docid=bVXF7JiWLLYdmM&tbnid=XEaSCOYrfMBVpM%3A&vet=12ahUKEwjWzveaqtzjAhXjAWMBHW7NAf44ZBAzKBcwF3oECAEQGQ..i&w=1200&h=800&client=safari&bih=877&biw=1324&q=nyc%20yellow%20taxi&ved=2ahUKEwjWzveaqtzjAhXjAWMBHW7NAf44ZBAzKBcwF3oECAEQGQ&iact=mrc&uact=8

https://www.google.com/imgres?imgurl=https%3A%2F%2Fmedia.timeout.com%2Fimages%2F103898485%2F630%2F472%2Fimage.jpg&imgrefurl=https%3A%2F%2Fwww.timeout.com%2Fnewyork%2Fthings-to-do%2Fbest-transportation-apps-for-new-yorkers&docid=FTZypUMzUyB2gM&tbnid=7B9lem8HGM__rM%3A&vet=12ahUKEwjWzveaqtzjAhXjAWMBHW7NAf44ZBAzKBkwGXoECAEQGw..i&w=630&h=472&client=safari&bih=877&biw=1324&q=nyc%20yellow%20taxi&ved=2ahUKEwjWzveaqtzjAhXjAWMBHW7NAf44ZBAzKBkwGXoECAEQGw&iact=mrc&uact=8

https://www.google.com/imgres?imgurl=http%3A%2F%2Fwww.gmu.daddlr.com%2Fwp-content%2Fuploads%2F2016%2F03%2Fnyc_cab.jpg&imgrefurl=http%3A%2F%2Fwww.gmu.daddlr.com%2Fnyc-yellow-cab%2F&docid=Z2dvl8KUjxNEdM&tbnid=6NWXf15bPdsdKM%3A&vet=12ahUKEwjWzveaqtzjAhXjAWMBHW7NAf44ZBAzKA8wD3oECAEQEQ..i&w=1000&h=667&client=safari&bih=877&biw=1324&q=nyc%20yellow%20taxi&ved=2ahUKEwjWzveaqtzjAhXjAWMBHW7NAf44ZBAzKA8wD3oECAEQEQ&iact=mrc&uact=8

https://www.google.com/imgres?imgurl=http%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fd%2Fd3%2FYellow_Cabs_in_New_York.JPG&imgrefurl=http%3A%2F%2Fwww.bkmag.com%2F2014%2F03%2F19%2Fnyc-taxi-launches-a-new-livery-cab-and-car-service-locator%2F&docid=lpsqhToXTGDLaM&tbnid=W-HYJdt8KBRxrM%3A&vet=10ahUKEwidypr6qdzjAhXBiFwKHWIEDqkQMwiSASgjMCM..i&w=3072&h=2048&client=safari&bih=877&biw=1324&q=nyc%20yellow%20taxi&ved=0ahUKEwidypr6qdzjAhXBiFwKHWIEDqkQMwiSASgjMCM&iact=mrc&uact=8



Ideas of blog post title
This is why
X facts that will make you
Do you know how to make the most of your taxi ride?

In order to attempt to answer these questions, we will use the TLC Trip Record data, that can be found here: 
https://www1.nyc.gov/site/tlc/about/tlc-trip-record-data.page

**Limitations of the analysis:**

- The analysis is conducted solely on the data from the **yellow taxi trip records**. It could be extended to included as well FHV (For-Hire Vehicle) and green taxis (and may as well be done later on!)
- From 2017, the pickup and dropoff coordinates are not available in the dataset anymore. In order to maintain coherence in the analysis throughout the years, we chose to **focus on the location IDs** insteas (less precise, but still meaningful). 

**Possible improvements of the analysis**

- use the coordinates instead of just the location id
- include other datasets (green taxi and FHV) for the whole set of analysis
- go further in terms of the analysis of the correlation of the various transportation types (public transportation, bikes, personal cars, walking,....)
- propose a predictive model of how much time the ride will take depending on origine-destination

**Linked content**

While looking at this famous data compilation, I came accross these three articles that are worth taking a look at!
- https://toddwschneider.com/posts/analyzing-1-1-billion-nyc-taxi-and-uber-trips-with-a-vengeance/#taxi-weather
- https://www.kdnuggets.com/2017/02/data-science-nyc-taxi-trips.html
- https://medium.com/@linniartan/nyc-taxi-data-analysis-part-1-clean-and-transform-data-in-bigquery-2cb1142c6b8b

I also widely used the following content to assist in building the code below:
- the Data Science Nanodegree course content from the Udacity platform
- https://towardsdatascience.com/basic-time-series-manipulation-with-pandas-4432afee64ea

In [2]:
#Imports to run the code in the notebook

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Overview of the data

As a first step, and to get familiar with the data, let's take a look at the characteristics of Feb, 2018. 
The dictionary for this dataset is  provided below.

### Dictionary

**VendorID** - A code indicating the TPEP provider that provided the record.
    1= Creative Mobile Technologies, LLC; 
    2= VeriFone Inc.
    
**tpep_pickup_datetime** - The date and time when the meter was engaged.

**tpep_dropoff_datetime** - The date and time when the meter was disengaged.

**passenger_count** - The number of passengers in the vehicle (driver-entered value).

**trip_distance** - The elapsed trip distance in miles reported by the taximeter.

**RatecodeID** - The final rate code in effect at the end of the trip.

    1= Standard rate
    2=JFK
    3=Newark
    4=Nassau or Westchester 
    5=Negotiated fare 
    6=Group ride

**DOLocationID** - TLC Taxi Zone in which the taximeter was engaged

**PULocationID** - TLC Taxi Zone in which the taximeter was disengaged

**store_and_fwd_flag** - This flag indicates whether the trip record was held in vehicle memory before sending to the vendor, aka “store and forward,” because the vehicle did not have a connection to the server.

    Y= store and forward trip
    N= not a store and forward trip
    
**payment_type** - A numeric code signifying how the passenger paid for the trip.

    1= Credit card 
    2= Cash
    3= No charge 
    4= Dispute
    5= Unknown 
    6= Voided trip

**fare_amount** - The time-and-distance fare calculated by the meter.

**extra** - Miscellaneous extras and surcharges. Currently, this only includes the $\$0.50$ and \$1 rush hour and overnight charges.

**mta_tax** - \$0.50 MTA tax that is automatically triggered based on the metered rate in use.

**tip_amount** - \$0.30 improvement surcharge assessed trips at the flag drop. The improvement surcharge began being levied in 2015.

**tolls_amount** - Tip amount – This field is automatically populated for credit card tips. Cash tips are not included.

**improvement_surcharge** - Total amount of all tolls paid in trip.

**total_amount** - The total amount charged to passengers. Does not include cash tips.

In [9]:
#Upload of one month of data

df_feb_2018 = pd.read_csv('/Users/acoullandreau/Desktop/Taxi_rides_DS/yellow_tripdata_2018-02.csv', engine='python')

In [8]:
df_feb_2018.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,1,2018-02-01 00:01:58,2018-02-01 00:04:03,1,0.0,1,N,145,145,2,3.5,0.5,0.5,0.0,0.0,0.3,4.8
1,1,2018-02-01 00:56:48,2018-02-01 00:57:42,1,2.9,1,N,145,145,2,2.5,0.5,0.5,0.0,0.0,0.3,3.8
2,1,2018-02-01 00:04:42,2018-02-01 00:19:32,1,5.8,1,N,236,119,2,18.5,0.5,0.5,0.0,0.0,0.3,19.8
3,1,2018-02-01 00:38:10,2018-02-01 00:40:16,1,0.3,1,N,82,82,2,3.5,0.5,0.5,0.0,0.0,0.3,4.8
4,1,2018-02-01 00:43:03,2018-02-01 00:59:26,2,2.6,1,N,82,7,1,13.0,0.5,0.5,1.0,0.0,0.3,15.3

In [9]:
df_feb_2018.describe()

,VendorID,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
count,8.492076e+06,8.492076e+06,8.492076e+06,8.492076e+06,8.492076e+06,8.492076e+06,8.492076e+06,8.492076e+06,8.492076e+06,8.492076e+06,8.492076e+06,8.492076e+06,8.492076e+06,8.492076e+06
mean,1.562294e+00,1.596234e+00,2.769989e+00,1.037533e+00,1.637897e+02,1.621695e+02,1.302303e+00,1.221809e+01,3.265116e-01,4.976250e-01,1.828237e+00,3.029433e-01,2.996056e-01,1.547606e+01
std,4.961043e-01,1.247662e+00,3.572876e+00,4.478890e-01,6.627982e+01,7.015148e+01,4.787185e-01,1.118280e+01,4.495949e-01,4.261087e-02,2.457043e+00,1.688065e+00,1.461934e-02,1.373852e+01
min,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,-4.630000e+02,-4.500000e+00,-5.000000e-01,-3.224200e+02,-1.676000e+01,-3.000000e-01,-4.638000e+02
25%,1.000000e+00,1.000000e+00,9.200000e-01,1.000000e+00,1.140000e+02,1.130000e+02,1.000000e+00,6.500000e+00,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,3.000000e-01,8.300000e+00
50%,2.000000e+00,1.000000e+00,1.580000e+00,1.000000e+00,1.620000e+02,1.620000e+02,1.000000e+00,9.000000e+00,0.000000e+00,5.000000e-01,1.450000e+00,0.000000e+00,3.000000e-01,1.130000e+01
75%,2.000000e+00,2.000000e+00,2.880000e+00,1.000000e+00,2.330000e+02,2.340000e+02,2.000000e+00,1.350000e+01,5.000000e-01,5.000000e-01,2.360000e+00,0.000000e+00,3.000000e-01,1.680000e+01
max,2.000000e+00,1.920000e+02,1.061200e+03,9.900000e+01,2.650000e+02,2.650000e+02,4.000000e+00,2.759070e+03,9.664000e+01,3.280000e+01,4.411100e+02,9.808000e+02,1.000000e+00,2.759370e+03

In [10]:
df_feb_2018.shape

(8492076, 17)

In [11]:
df_feb_2018.dtypes

VendorID                   int64
tpep_pickup_datetime      object
tpep_dropoff_datetime     object
passenger_count            int64
trip_distance            float64
RatecodeID                 int64
store_and_fwd_flag        object
PULocationID               int64
DOLocationID               int64
payment_type               int64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
dtype: object

In [12]:
df_feb_2018.isnull().sum()

VendorID                 0
tpep_pickup_datetime     0
tpep_dropoff_datetime    0
passenger_count          0
trip_distance            0
RatecodeID               0
store_and_fwd_flag       0
PULocationID             0
DOLocationID             0
payment_type             0
fare_amount              0
extra                    0
mta_tax                  0
tip_amount               0
tolls_amount             0
improvement_surcharge    0
total_amount             0
dtype: int64

**Observations**

- For the month of Feb, 2018, we have more than 8 millions data points, and no missing data at all (which is pretty alazing by the way!)
- There seem to be three categorical columns ['RatecodeID', 'store_and_fwd_flag', 'payment_type']
- Among those columns, we cannot make much sense out of the store_and_fwd_flag, and will then decide to drop it for further analysis
- The two timestamp columns, ['tpep_pickup_datetime', 'tpep_dropoff_datetime'], typed 'object', should be converted to new columns to split the date from the time
- The total amount columns sums up the values from all prices columns (fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge) - we may then decide to keep only the total amount column as a meaningful column, and let go of the other ones
- As the cash tips are not recorded, we will consider that the amount of tips paid by cash is negligeable to simplify the analysis of the paid amount

In [8]:
df_jan_2018 = pd.read_csv('/Users/acoullandreau/Desktop/Taxi_rides_DS/yellow_tripdata_2018-01.csv', engine='python')
df_jan_2018.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,1,2018-01-01 00:21:05,2018-01-01 00:24:23,1,0.5,1,N,41,24,2,4.5,0.5,0.5,0.00,0.0,0.3,5.80
1,1,2018-01-01 00:44:55,2018-01-01 01:03:05,1,2.7,1,N,239,140,2,14.0,0.5,0.5,0.00,0.0,0.3,15.30
2,1,2018-01-01 00:08:26,2018-01-01 00:14:21,2,0.8,1,N,262,141,1,6.0,0.5,0.5,1.00,0.0,0.3,8.30
3,1,2018-01-01 00:20:22,2018-01-01 00:52:51,1,10.2,1,N,140,257,2,33.5,0.5,0.5,0.00,0.0,0.3,34.80
4,1,2018-01-01 00:09:18,2018-01-01 00:27:06,2,2.5,1,N,246,239,1,12.5,0.5,0.5,2.75,0.0,0.3,16.55

In [16]:
df_jan_2018.isnull().sum()

VendorID                 0
tpep_pickup_datetime     0
tpep_dropoff_datetime    0
passenger_count          0
trip_distance            0
RatecodeID               0
store_and_fwd_flag       0
PULocationID             0
DOLocationID             0
payment_type             0
fare_amount              0
extra                    0
mta_tax                  0
tip_amount               0
tolls_amount             0
improvement_surcharge    0
total_amount             0
dtype: int64

In [17]:
df_jan_2018.shape

(8759874, 17)

When taking a look at Jan, 2018 we reach the same conclusions that for Feb, 2018. However, the structure is slightly different when we look back in time.
It seems like up to 2016 the dataset contained the following additional columns:
- pickup_longitude
- pickup_latitude
- dropoff_longitude
- dropoff_latitude

In [7]:
df_feb_2013 = pd.read_csv('/Users/acoullandreau/Desktop/Taxi_rides_DS/yellow_tripdata_2013-02.csv', engine='python')
df_feb_2013.head()

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,rate_code,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,surcharge,mta_tax,tip_amount,tolls_amount,total_amount
0,CMT,2013-02-08 23:35:14,2013-02-08 23:42:58,1,0.8,-73.992438,40.724488,1,N,-73.984423,40.718901,CRD,6.0,0.5,0.5,0.0,0.0,7.0
1,CMT,2013-02-07 12:20:16,2013-02-07 12:50:27,4,3.1,-73.989493,40.769590,1,N,-73.990303,40.737348,CRD,20.0,0.0,0.5,3.0,0.0,23.5
2,CMT,2013-02-08 08:56:54,2013-02-08 08:59:43,1,1.0,-73.963033,40.799142,1,N,-73.972169,40.786446,CRD,5.0,0.0,0.5,1.1,0.0,6.6
3,CMT,2013-02-08 09:37:02,2013-02-08 09:50:50,1,2.1,-73.987952,40.728763,1,N,-74.007115,40.705399,CRD,11.0,0.0,0.5,2.3,0.0,13.8
4,CMT,2013-02-08 19:31:25,2013-02-08 19:46:23,1,3.3,-73.987280,40.743043,1,N,-74.010287,40.703963,CRD,13.0,1.0,0.5,1.5,0.0,16.0

In [6]:
df_feb_2016 = pd.read_csv('/Users/acoullandreau/Desktop/Taxi_rides_DS/yellow_tripdata_2016-02.csv', engine='python')
df_feb_2016.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RatecodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2016-02-25 17:24:20,2016-02-25 17:27:20,2,0.70,-73.947250,40.763771,1,N,-73.992012,40.735390,2,5.0,0.0,0.5,0.0,0.0,0.3,5.8
1,2,2016-02-25 23:10:50,2016-02-25 23:31:50,2,5.52,-73.983017,40.750992,1,N,-73.988586,40.758839,2,20.0,0.5,0.5,0.0,0.0,0.3,21.3
2,2,2016-02-01 00:00:01,2016-02-01 00:10:52,6,1.99,-73.992340,40.758202,1,N,-73.964355,40.757977,1,9.5,0.5,0.5,0.7,0.0,0.3,11.5
3,1,2016-02-01 00:00:04,2016-02-01 00:05:16,1,1.50,-73.981453,40.749722,1,N,-73.982323,40.763985,2,6.5,0.5,0.5,0.0,0.0,0.3,7.8
4,2,2016-02-01 00:00:05,2016-02-01 00:20:59,1,5.60,-74.000603,40.729755,1,N,-73.951324,40.669834,1,20.0,0.5,0.5,4.0,0.0,0.3,25.3

In [5]:
df_feb_2017 = pd.read_csv('/Users/acoullandreau/Desktop/Taxi_rides_DS/yellow_tripdata_2017-02.csv', engine='python')
df_feb_2017.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2017-02-03 02:03:50,2017-02-03 02:20:55,1,3.29,1,N,87,246,1,14.0,0.0,0.5,1.50,0.0,0.3,16.30
1,2,2017-02-03 02:26:04,2017-02-03 02:46:47,1,2.80,1,N,68,239,2,15.0,0.0,0.5,0.00,0.0,0.3,15.80
2,2,2017-02-03 02:49:51,2017-02-03 09:56:17,1,0.90,1,N,239,43,1,6.0,0.0,0.5,1.36,0.0,0.3,8.16
3,2,2017-02-03 04:41:54,2017-02-03 04:52:41,1,0.72,1,N,163,230,1,8.0,0.0,0.5,1.76,0.0,0.3,10.56
4,2,2017-02-03 04:57:38,2017-02-03 12:16:14,1,1.10,1,N,186,230,1,11.0,0.0,0.5,3.54,0.0,0.3,15.34

In order to keep it coherent and more readable accross the years, we will stick to the PULocationID and DOLocationID and will not use the coordinates. 
As to be able to map the IDs with a actual area in NYC, let's load the lookup table of the taxi zones.

In [4]:
df_taxi_zones = pd.read_csv('/Users/acoullandreau/Desktop/Taxi_rides_DS/taxi+_zone_lookup.csv', engine='python')
df_taxi_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

## Step 1 - data preparation

This step is crucial as it will ensure that we work with cleaned data. 
This first cleaning and wrangling step will consist in:
- cleaning NaN if any (thus far we saw that no empty values were inputted, but we need to know how to react in case there are any)
- ensure that we handle properly negative trip durations, trip distances, and money-related features
- ensure that we handle properly the trips with no passengers at all 
- encode categorical variables if necessary
- drop the features that we do not need for our analysis
- process the timestamp columns ['tpep_pickup_datetime', 'tpep_dropoff_datetime']

#### Remove NaN values

We want to drop rows that contain a majority of NaN values (majority being evaluates using the percentage value provided in the function). 
We do not want this function to drop features although they could have a lot of missing values, but we want them to be reported (print statement).

In [18]:
def remove_NaN(df, percentage):
    threshold = int((1-percentage)*df.shape[1])
    df = df.dropna(axis=0, thresh = threshold)
    return df

#### Process the timestamp features

The timestamp for pickup and drop off is currently provided as a string.

In [26]:
type(df_feb_2017['tpep_pickup_datetime'][1])

str

It would be more useful for us to be able to split it into a date and time features, as to be able to:
- identify the day of the week 
- calculate the trip duration

In [ ]:
def process_timestamps(df, features):

    return df

def split_date_time(ts_serie):
    # split the string into date and time using a regex
    # convert the date and the time newly created features into proper format
    return pu_date, pu_time, do_date, do_time

def trip_duration_calc(pu_time, do_time)
# add a column with the duration of the trip
#pay attention to the case where the day changes !
    return df

def weekday_name_identify(pu_date, do_date):
    # add a column with the weekday name
    return df

#### Handle negative values

For the following features, we should not have any negative value:
- trip duration (i.e. the difference between the timestamps of the tpep_pickup_datetime and the tpep_dropoff_datetime)
- trip_distance
- money-related features (having negative values here would change the value of the total amount, without even being able to spot it if the total_amount value is still positive!) ['fare_amount', 'extra', 'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge']

Therefore it is important to spot any negative value, and drop the rows that contain such error. We cannot, indeed, assume that the correct value is simply obtained by changing the sign.

In [ ]:
def neg_val_treat(df, features):
    
    return df

In [ ]:
df_feb_2017_bis = neg_val_treat(df_feb_2017, ['fare_amount', 'extra', 'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge'])

#### Handle trips with no passengers

In [ ]:
#If there is no passenger, it is probable that the taxi is going back to an area where new passengers can be picked up
#It is therefore interesting to keep the data
#Two datasets should be splitted - one with passengers, the other without passengers

#### Encode categorical variables

In [ ]:
def cat_encoder(df, features):
    return df

#### Drop unused features

In [ ]:
def drop_unused_feat(df, features):
    return df

#### Include PU and DO borough and zone names

In [ ]:
def borough_zone_names(df):
    return df

#### Clean-up function

In [ ]:
#PU and DO lat and long processing
#0 passengers trips
#Negative trip durations, distance, tip_amount or other price columns
#Look at outliers
#drop store_and_fwd_flag
#process the timestamp columns ['tpep_pickup_datetime', 'tpep_dropoff_datetime']
#drop price columns fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge

In [13]:
type(df_feb_2018['tpep_pickup_datetime'])

pandas.core.series.Series

In [ ]:
Feature transformation (scaling) - necessary?